<!-- app/views/openai/test_openai.html.erb -->
<div class="chat-container">
  <h3>I'm sending:</h3>
  <%= form_with(url: test_openai_path, method: :post) do |form| %>
    <!-- Add the dropdown menus and text inputs -->
    <div>
      <%= form.label :to %>
      <%= form.select :to, ['Select','coworker', 'manager', 'friend', 'family', 'client','collaborator', 'business partner', 'recruiter', 'customer', 'professor', 'student'] %>
    </div>
    <div>
      <%= form.label :platform %>
      <%= form.select :platform, ['Select','Email', 'LinkedIn', 'Instagram', 'Whatsapp', 'Messenger'] %>
    </div>
    <div>
      <%= form.label :tone %>
      <%= form.select :tone, ['Select','formal', 'professional', 'neutral', 'friendly'] %>
    </div>
    <div>
      <%= form.label :length %>
      <%= form.select :length, ['Select','in detail(long)', 'medium', 'short', 'very short'] %>
    </div>
    <div>
      <%= form.label :who %>
      <%= form.text_field :who, placeholder: "Receiver's name" %>
    </div>
    <div class="d-flex flex-column">
      <%= form.label :message %>
      <%= form.text_area :message, placeholder: "・Write what to say", rows: 8 %>
    </div>
    <%= csrf_meta_tags %>
    <%= submit_tag "CREATE", class: "text-white btn btn-primary border rounded mt-3" %>
  <% end %>
</div>
<!-- Add the JavaScript code -->
<script>
  function copyResponseToClipboard() {
    const responseElement = document.querySelector(".response-message");

    if (responseElement) {
      const responseText = responseElement.textContent.trim();

      const textArea = document.createElement("textarea");
      textArea.value = responseText;
      document.body.appendChild(textArea);

      textArea.select();
      document.execCommand("copy");
      document.body.removeChild(textArea);

      alert("Response copied to clipboard!");
    } else {
      alert("No response to copy.");
    }
  }
</script>
